/* styles/utils/_variables.scss */
/* Variables */
$color-primary: #0056b3;
$color-primary-light: #007bff;
$color-primary-dark: rgba(34, 69, 123, 1);
$color-white: #fff;
$color-black: #000;

$font-family: 'Montserrat', Arial, sans-serif;

$box-shadow-default: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);