/* Products Section */
section#categories {
  text-align: center;
  padding-bottom: 2rem;

  h2 {
    text-align: left;
  }

  h2#search {
    text-align: center;
  }

  .product-categories {
    display: flex;
    gap: 2%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 5rem;

    @include respond(laptop) {
      justify-content: center;
    }

    .category-wrapper {
      display: flex;
      width: 49%;
      justify-content: space-between;

      .category {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 150px;
        min-height: 170px;
        text-align: center;
        margin-top: 0.5rem;
        text-decoration: none;
        color: $color-black;
        border-radius: 0.5rem;
        box-shadow: none;
        padding: 0.5rem;
        transition: all .1s ease-in-out;

        .productImage {
          width: 100px;
          height: auto;
          display: block;
          margin: 0 auto;
        }

        &:hover {
          box-shadow: $box-shadow-default;
          color: $color-primary;
        }
      }
    }
  }

  .product-search {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;

    input {
      padding: 0.5rem;
    }

    button {
      padding: 0.5rem 1rem;
      background-color: $color-primary;
      color: $color-white;
      border: none;
      cursor: pointer;
    }
  }
}