/* Hero Section */
section#hero {
  position: relative;
  margin: 0;
  padding: 0;

  .hero-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    top: 5rem;
    left: 5rem;

    .radiall-logo {
      height: 3rem;
      object-fit: contain;
      z-index: 1;
      width: fit-content;
    }

    h2 {
      margin: 0 0 1rem;
      text-align: left;
      width: fit-content;
    }
  }

  img {
    width: 100%;
    max-width: 180rem;
    object-fit: cover;
    z-index: -1;
  }
}