/* Products Section */
#products {
    text-align: center;
    padding: 2rem;
}

.product-categories {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 2rem 0;
}

.product-categories .category {
    text-align: center;
    margin-top: 0.5rem;
}

.product-categories .productImage {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.product-search {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.product-search input {
    padding: 0.5rem;
}

.product-search button {
    padding: 0.5rem 1rem;
    background-color: #0056b3;
    color: #fff;
    border: none;
    cursor: pointer;
}
