.btn {
  padding: 0.5rem 1rem;
  background-color: $color-primary;
  font-weight: 700;
  color: $color-white;
  text-decoration: none;
  width: fit-content;
  border-radius: 0.5rem;
  cursor: pointer;
}