/* Main SCSS File */
/* styles/utils/_mixins.scss */
/*
0 - 600px: Phone
600 - 900px:  Tablet - Portrait
900 - 1200px:  Tablet - Landscape
1200 - 1800px:  Desktop (normal styles)
1800px+:  Big Desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

1rem = 16px

ORDER: base + typography > general layout + grid > page layout > components
*/
/* styles/utils/_variables.scss */
/* Variables */
.btn {
  padding: 0.5rem 1rem;
  background-color: #0056b3;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

/* styles/base/_reset.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* styles/base/_typography.scss */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* Products Section */
#categories {
  text-align: center;
  padding: 2rem;
}
#categories .product-categories {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2rem 0;
}
#categories .product-categories .category {
  text-align: center;
  margin-top: 0.5rem;
  text-decoration: none;
  color: #000;
  border-radius: 0.5rem;
  box-shadow: none;
  padding: 0.5rem;
  transition: all 0.1s ease-in-out;
}
#categories .product-categories .category .productImage {
  width: 100px;
  height: auto;
  display: block;
  margin: 0 auto;
}
#categories .product-categories .category:hover {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  color: #0056b3;
}
#categories .product-search {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
#categories .product-search input {
  padding: 0.5rem;
}
#categories .product-search button {
  padding: 0.5rem 1rem;
  background-color: #0056b3;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Hero Section */
#hero {
  position: relative;
  margin: 0;
  padding: 0;
}
#hero .hero-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 5rem;
  left: 5rem;
}
#hero .hero-content .radiall-logo {
  height: auto;
  width: 80%;
  object-fit: contain;
  z-index: 1;
}
#hero .hero-content h2 {
  margin: 0 0 1rem;
  text-align: left;
}
#hero .hero-content a {
  width: fit-content;
  border-radius: 0.5rem;
}
#hero img {
  width: 100%;
  max-width: 180rem;
  object-fit: cover;
  z-index: -1;
}

/* Info Section */
#info {
  display: flex;
  justify-content: space-evenly;
  background-image: url("../../assets/three-column-background.jpg");
  background-position: center;
  background-size: cover;
}
#info .info-box {
  width: 33.3333%;
  text-align: center;
  padding: 5rem 3rem;
  background-color: rgba(29, 29, 29, 0.3137254902);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#info .info-box:nth-child(2) {
  background-color: rgba(29, 29, 29, 0.6);
}
#info .info-box hr {
  border: 0.1rem solid #0056b3;
  width: 50%;
}
#info .info-box h3 {
  font-size: 48px;
  margin-bottom: 1rem;
  color: #fff;
}
#info .info-box p {
  font-size: 32px;
  color: #fff;
  font-weight: 700;
  padding: 1rem 0;
}

/* styles/components/_navbar.scss */
nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
}

/* Reviews Section */
#reviews {
  text-align: center;
  padding: 2rem;
}

.reviews-carousel {
  margin-bottom: 1rem;
}

.review-button {
  padding: 0.5rem 1rem;
  background-color: #0056b3;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* styles/layout/_header.scss */
/* Header */
header {
  background-color: #f1f1f1;
  border-bottom: 1px solid #ccc;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgb(34, 69, 123);
}

.logo {
  width: 150px;
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #fff;
}

.contact-info p {
  margin: 0;
}

.contact-info input[type=search] {
  padding: 0.5rem;
}

/* styles/layout/_footer.scss */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

/* About Page Specific Styles */
#who-we-are {
  text-align: center;
  padding: 2rem;
}

#who-we-are h1 {
  font-size: 2.5rem;
  color: rgb(34, 69, 123);
  margin-bottom: 1rem;
}

#who-we-are p {
  font-size: 1.2rem;
  color: #666;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 800px;
}

/* Services Section */
#services {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  background-color: #f9f9f9;
}

.service {
  text-align: center;
  max-width: 300px;
}

.service img {
  width: 50px;
  height: 50px;
  margin-bottom: 1rem;
}

.service h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1rem;
}

.service p {
  font-size: 1rem;
  color: #666;
  line-height: 1.5;
}

/* Quality Section */
#quality {
  padding: 2rem;
}

#quality h2 {
  font-family: Inter, sans-serif;
  font-size: 2rem;
  color: rgb(34, 69, 123);
  text-align: center;
  margin-bottom: 1rem;
}

#quality h3 {
  font-size: 1.5rem;
  color: #333;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

#quality p {
  font-size: 1rem;
  color: #666;
  line-height: 1.5;
}

#quality a {
  color: #0056b3;
  text-decoration: none;
}

#quality a:hover {
  text-decoration: underline;
}

/* styles/pages/_home.scss */
/* Product Listing Page Specific Styles */
#categories {
  margin: 2rem;
}

.category-list {
  list-style: none;
}

.category-list li {
  margin: 0.5rem 0;
}

.category-list input[type=checkbox] {
  margin-right: 0.5rem;
}

/* Products Section */
#products {
  margin: 2rem;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}

.product-item {
  border: 1px solid #ccc;
  padding: 1rem;
  text-align: center;
}

.product-image {
  width: 100%;
  height: 150px;
  background-color: #e0e0e0;
  margin-bottom: 1rem;
}

/*# sourceMappingURL=main.css.map */
